<script lang="ts">
    import type { Dialog } from 'svelte-component-dialogs';

    export let dialogRef: Dialog;
</script>

<article>
    <header>
        <button
            type="button"
            class="close"
            aria-label="Close"
            title="Close"
            on:click={() => dialogRef.close()}
        />
        <h4>Scrolled content</h4>
    </header>
    <p>
        Long content
    </p>
</article>

<style>
    article {
        max-height: 600px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    p {
        max-height: 100%;
        overflow: auto;
    }
</style>